<div class="container">
    <div class="row mt-5">
        <div class="col-lg-3">
            <%= render 'pets/user', user: current_user %>
        </div>
        <div class="col-lg-8 offset-ld-1">
            <%= form_with model: @genre, url: genres_path, local: true do |f| %>
                <table class="table table-borderless">
                    <tr>
                        <td><%= f.label :"ジャンル" %></td>
                        <td><%= f.text_field :name, class: "form-control" %></td>
                    </tr>
                    <tr>
                        <td><%= f.radio_button :is_active, true %>取り扱い中
                            <%= f.radio_button :is_active, false %>現在取り扱っておりません</td>
                    </tr>
                    <tr>
                        <td><%= f.submit "追加", class: "btn btn-secondary ml-3 mt-3" %></td>
                    </tr>
                </table>
            <% end %>
        

        <table class="table table-bordered text-center mt-5">
            <thead class='thead-light'>
                <tr class="table-name">
                    <th>ジャンル</th>
                    <th>状態</th>
                    <th></th>
                </tr>
            </thead>
            <tbody style="padding-bottom: 100px">
                <% @genres.each do |genre| %>
                    <tr>
                        <%# if genre.is_active == true %>
                            <td><%= genre.name %></td>
                            <td><% if genre.is_active == true %>
                                取り扱い中
                                <% elsif genre.is_active == false %>
                                現在取り扱っておりません
                                <% end %>
                            </td>
                            <td><%= link_to "編集する", edit_genre_path(genre.id), class: "btn btn-secondary" %>
                                <%= link_to "削除する", genre_path(genre.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-danger" %></td>
                        <%# end %>
                    </tr>
                <% end %>
            </tbody>
        </table>
        </div>
    </div>
</div>