<div class="container">
  <div class="row mt-5">
    <div class="col-lg-12">
      <div class="background">
      <h2 class="heading">新規会員登録</h2>
      <%#= render "devise/shared/error_messages", resource: resource %>
      <%= render 'layouts/error_messages', model: @user %>
      <%= form_with model: @user, url: user_registration_path, local: true do |f| %>

        <div class="class="inputTableArea>
          <table class="table table-borderless">
            <tbody>
              <tr>
                <th width="40%" colspan="1">名前(姓)(名)</th>
                <td><%= f.text_field :last_name, autofocus: true, id: "last_name__input", class: "form-control" %></td>
                <td width="30%"><%= f.text_field :first_name, autofocus: true, id: "first_name__input", class: "form-control" %></td>
              </tr>
              <tr>
                <th>フリガナ(セイ)(メイ)</th>
                <td><%= f.text_field :last_name_kana, autofocus: true, id: "last_name_kana__input", class: "form-control" %></td>
                <td><%= f.text_field :first_name_kana, autofocus: true, id: "first_name_kana__input", class: "form-control" %></td>
              </tr>
              <tr>
                <th><label for="email__input">メールアドレス</label></th>
                <td><%= f.email_field :email, autofocus: true, id: "email__input", class: "form-control" %></td>
              </tr>
              <tr>
                <th><label for="zipcode__input">郵便番号（ハイフンなし）</label></th>
                <td><%= f.text_field :zipcode, autofocus: true, id: "zip_code__input", class: "form-control" %></td>
              </tr>
              <tr>
                <th><label for="address__input">住所</label></th>
                <td><%= f.text_field :address, autofocus: true, id: "address__input", class: "form-control" %></td>
              </tr>
              <tr>
                <th><label for="phone_number__input">電話番号（ハイフンなし）</label></th>
                <td><%= f.text_field :phone_number, autofocus: true, id: "phone_number__input", class: "form-control" %></td>
              </tr>
              <tr>
                <th><label for="password__input">パスワード（６文字以上）</label></th>
                <td><%= f.password_field :password, autofocus: true, id: "password__input", class: "form-control" %></td>
              </tr>
              <tr>
                <th><label for="password_confirmation__input">パスワード（確認用）</label></th>
                <td><%= f.password_field :password_confirmation, autofocus: true, id: "password_confirmation__input", class: "form-control" %></td>
              </tr>
              <tr>
                <td></td>
                <td><%= f.submit "登録する", class: "btn btn-secondary" %></td>
              </tr>
              <tr>
                <td></td>
                <td><%= render "devise/shared/links" %></td>
              </tr>
            </tbody>
          </table>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>