<h2>ユーザー情報</h2>
<%= attachment_image_tag user, :profile_image, size: '100x100', fallback: "no_image_icon.jpg", class: "rounded-circle" %>
<table class='table'>
    <tbody>
        <tr></tr>
        <tr>
            <th>名前</th>
            <th><%= user.full_name %></th>
            <th></th>
        </tr>
        <tr>
            <th>紹介文</th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <th>フォロー</th>
            <td><%= link_to user.followings.count, followings_user_path(user.id) %>人</td>
            <th></th>
        </tr>
        <tr>
            <th>フォロワー</th>
            <td><%= link_to user.followers.count, followers_user_path(user.id) %>人</td>
            <th></th>
        </tr>
    </tbody>
</table>

<div id="follow_button">
<%= render 'relationships/follow_button', user: user %>
</div>
</br>

<%= link_to "編集", edit_user_path(user), class: "btn btn-outline-secondary btn-block fas fa-user-cog"%>
