<h2>ユーザー情報</h2>

<%= attachment_image_tag user, :profile_image, size: '100x100', fallback: "no_image_icon.jpg", class: "rounded-circle" %>
<table class='table'>
    <tbody>
        <tr></tr>
        <tr>
            <th>名前</th>
            <th><%= user.full_name %></th>
            <th></th>
        </tr>
        <tr>
            <th>紹介文</th>
            <th><%= user.introduction %></th>
            <th></th>
        </tr>
        <tr>
            <th><%= link_to "フォロー", followings_user_path(user.id) %></th>
            <td><%= user.followings.count %>人</td>
            <th></th>
        </tr>
        <tr>
            <th><%= link_to "フォロワー", followers_user_path(user.id) %></th>
            <td><%= user.followers.count %>人</td>
            <th></th>
        </tr>
    </tbody>
</table>

<div id="follow_button">
<%= render 'relationships/follow_button', user: user %>
</div>
</br>

<%= link_to "編集", edit_user_path(user), class: "btn btn-outline-secondary btn-block fas fa-user-cog"%>
<br>
 <% unless user.id == current_user.id %>
          <% if @isRoom == true %>
            <%= link_to "DMを送る", room_path(@roomId), class: "btn btn-outline-secondary btn-block" %>
          <% else %>
            <%= form_for @room do |f| %>
              <%= fields_for @entry do |e| %>
              <%= e.hidden_field :user_id, :value=> user.id %>
              <% end %>
              <%= f.submit "チャットを始める", class: "btn btn-secondary btn-block" %>
            <% end %>
          <% end %>
        <% end %>