<div class="side-bar">
<h2 class="heading-user">

</h2>
<table class='table table-borderless user-info'>
  <thead>
    <tbody>
        <tr></tr>
        <tr>
          <th><%= link_to user_path(user.id) do %>
            <%= attachment_image_tag user, :profile_image, size: '100x100', fallback: "no_image_icon.jpg", class: "rounded-circle" %>
          <p><%= user.full_name %></p>
          <% end %></th>
        </tr>
        <tr>
          <th><%= user.introduction %></th>
        </tr>
        <tr>
          <th><%= link_to followings_user_path(user.id) do %>
                <p>フォロー<%= user.followings.count %></p>
              <% end %></th>
        </tr>
        <tr>   
          <th><%= link_to followers_user_path(user.id) do %>
                <p>フォロワー<%= user.followers.count %></p>
              <% end %></th>
        </tr>
    </tbody>
  </thead>
</table>
<div id="follow_button">
  <%= render 'relationships/follow_button', user: user %>
</div>
</br>
<% if @user == current_user %>
  <%= link_to "", edit_user_path(user), class: "btn btn-outline-secondary btn-block fas fa-user-cog" %>
  <br><br>
  <%= link_to "", rooms_path, class: "btn btn-outline-secondary btn-block fas fa-comments" %>
<% end %>
<% unless user.id == current_user.id %>
  <% if @is_room == true %>
    <%= link_to "DMを送る", room_path(@room_id), class: "btn btn-outline-secondary btn-block" %>
  <% else %>
    <%= form_for @room do |f| %>
      <%= fields_for @entry do |e| %>
        <%= e.hidden_field :user_id, :value=> user.id %>
      <% end %>
      <%= f.submit "チャットを始める", class: "btn btn-secondary btn-block" %>
    <% end %>
  <% end %>
<% end %>
</div>