<div class="container">
  <div class="row mt-5">
    <div class="col-lg-3">
      <%= render 'pets/user', user: current_user %>
    </div>
    <div class="col-lg-8 offset-lg-1">
      <%= form_with model: @pet, url: pets_path, method: :post, local: true do |f| %>

        <%= f.attachment_field :image, size: "300x300" %>
        <table class="table table-borderless">
          <tr>
            <td><%= f.label :"お名前" %></td>
                <td><%= f.text_field :name, class: "form-control" %></td>
            </tr>
            <tr>
              <td><%= f.label :"ジャンル" %></td>
              <td><%= f.collection_select(:genre_id, Genre.all, :id, :name, prompt: "-- 選択してください--") %></td>
              <td>
              <%= link_to "新ジャンル追加", genres_path, class: "btn btn-secondary" %></td>
            </tr>
            <tr>
              <td><%= f.label :"お誕生日" %></td>
              <td><%= f.text_field :birthday, class: "form-control" %></td>
            </tr>
            <tr>
              <td><%= f.label :"性別" %></td>
              <td><%= f.radio_button :gender,"男の子♂" %>男の子(♂)   
                  <%= f.radio_button :gender, "女の子♀" %>女の子(♀)</td>
            </tr>
            <tr>
                <td><%= f.label :"紹介" %></td>
                <td><%= f.text_area :introduction, class: "form-control" %></td>
            </tr>
            <tr>
                <td colspan=3><%= f.submit "新規投稿", class: "btn btn-secondary" %></td>
            </tr>
        </table>
      <% end %>
    </div>
  </div>
</div>
