
 <div class='container'>
  <div class='row mt-5'>
    <% if user_signed_in? %>
    <div class="col-lg-3">
      <%= render 'pets/user', user: current_user %>
    </div>
    <% end %>
    <div class="col-lg-8 offset-lg-1">
      

      <h2 class="heading">飼い主さんを募集中</h2>
       <p class="pet-count">全<%= @pets.count %>件</p>
        <div class="pet-box">
        <% @pets.each do |pet| %>
          <div class="pet-list">
            <%= link_to pet_path(pet.id) do %>
              <%= attachment_image_tag pet, :image, format: "jpg", size: "180x180", fallback: "no_image.jpg", class: "rounded" %>
            <% end %>
            <p class="pet-name">お名前: <%= pet.name %></p>
            <p>性別: <%= pet.gender %></p>
            <p>お誕生日: <%= pet.birthday %></p>
            <p>投稿者:
              <%= attachment_image_tag pet.user, :profile_image, size: "40x40", format: 'jpeg', fallback: "no_image_icon.jpg",class: "rounded-circle" %>
            </p>
            <% if user_signed_in? %>
            <div class="favorite-btn<%= pet.id %>">
              <%= render 'favorites/favorite', pet: pet %>
            </div>
            <p>コメント件数：<%= pet.comments.count %></p>
            <% end %>
          </div>
        <% end %>
        </div>
      
      </div>
    </div>
  </div>

   