<div class="container">
  <div class="row mt-5">
    <div class="col-lg-3">
      <%= render 'pets/user', user: @pet.user %>
    </div>
  
    <div class="col-lg-8 offset-lg-1">
      <h2>ペット詳細</h2>
      <p><%= attachment_image_tag @pet, :image, size: "300x300", format: 'jpg', fallback: "no_image.jpg", class: "rounded" %></p>
      <div class="pet.name">
        <p>ジャンル: <%= @pet.genre.name %></p>
        <p>お名前: <%= @pet.name %></p>
        <p>お誕生日: <%= @pet.birthday %></p>
        <p>性別: <%= @pet.gender %></p>
        <p>特徴: <%= @pet.introduction %></p>
        <p>ステータス: 
          <% if @pet.is_active == true %>
            <p>募集中<p>
          <% elsif @pet.is_active == false %>
            <p>新しいおうちが見つかったよ！</p>
          <% end %>
        <p>投稿者: <%= attachment_image_tag @pet.user, :profile_image, size: "60x60", format: 'jpeg', fallback: "no_image_icon.jpg", class: "rounded-circle" %></p>
       
        <p class="favorite-btn<%= @pet.id %>">
            <%= render 'favorites/favorite', pet: @pet %>
        </p>
          <p class="comments_<%= @pet.id %>">
          <%= render 'comments/comment', pet: @pet, comment: @comment %>
          </p>
      <%= link_to "編集", edit_pet_path(@pet.id),  class: "btn btn-secondary" %>
      </div>
    </div>
  </div>
</div>