<div class="container">
  <div class="row mt-5 ml-5">
    <div class="col-lg-10">
      <h2 class="heading">プロフィール編集</h2>
      <%= form_with model: @user, local: true do |f| %>
      <div class="form-group">
        <%= f.label :profile_image, "プロフィール画像" %>
        <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image_icon.jpg", class: "rounded-circle" %>
        <%= f.attachment_field :profile_image %>
      </div>
      <div class="form-group">
        <%= f.text_field :last_name, autofocus: true, placeholder: "(例)山田", style: "margin-bottom: 10px;" %>
        <%= f.label :last_name, "名前", style: "float: left;" %>
        <%= f.text_field :first_name, placeholder: "(例)太郎" %>
        <%= f.label :first_name, "(姓・名)", style: "float: left;" %>
      </div>
      <div class="form-group">
        <%= f.text_field :last_name_kana, autofocus: true, placeholder: "(例)ヤマダ", autocomplete: "last_name_kana", style: "margin-bottom: 10px;" %>
        <%= f.label :last_name_kana, "フリガナ", style: "float: left;" %>
        <%= f.text_field :first_name_kana, placeholder: "(例)タロウ", autocomplete: "first_name_kana" %>
        <%= f.label :first_name_kana, "(セイ・メイ)", style: "float: left;" %>
      </div>
      <div class="form-group">
        <%= f.label :introduction, "紹介文" %>
        <%= f.text_area :introduction, placeholder: "(例)初めまして。", autocomplete: "introduction", class: "form-control" %>
      </div>
      <%= f.submit "変更を保存", class: "btn btn-secondary" %>
      <% end %>
      <br>
      <%= link_to "退会する", user_unsubscribe_path(@user.id), class: "btn btn-danger" %>
    </div>
  </div>
</div>