<div class="container">
  <div class="row mt-5">
    <div class="col-lg-3">
      <% if @user == current_user %>
        <%= render 'pets/user', user: current_user %>
      <% else %>
        <%= render 'pets/user', user: @user %>
      <% end %>
    </div>
  
    <div class="col-lg-8 offset-lg-1">
      <% if @user == current_user %>
        <h2 class="heading">マイページ</h2>
      <% else %>  
        <h2 class="heading">ユーザー詳細</h2>
      <% end %>
      
      <% @pets.each do |pet| %>
        <div class="p-list">
          <%= link_to pet_path(pet.id) do %>
            <% pet.pet_images.first(1).each do |image| %>
             <%= attachment_image_tag pet, :image, size: '350x350', class: "rounded mt-4" %>
             <% end %>
          <% end %>
          <p class="pet-name">お名前: 
            <%= link_to pet_path(pet.id) do %>
              <%= pet.name %></p>
            <% end %>
            <p>性別: <%= pet.gender %></p>
            <p>お誕生日: <%= pet.birthday %></p>
        </div>
        <div class="favorite-btn<%= pet.id %>">
          <%= render 'favorites/favorite', pet: pet %>
        </div>
        <div class="comments_<%= pet.id %>">
          <%= render 'comments/comment', pet: pet, comment: @comment %>
        </div>
      <% end %>
      <%= paginate @pets %>
    </div>
  </div>
</div>