<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="main-visual">
        <div class="main-visual-content">
          <p class="visual-text">I'm waiting for your hand...</p>
        </div>
      </div>

      <div class="top-content">
        <div class="content">
          <p class="content-heading">WE ALL WAITING FOR YOU</p>
          <p class="content-p">あなたを待っている子たちがいます</p>
        </div>
        <div class="content-text">
          <p>Find MEは身寄りのない動物たちの未来を支援しています</p>
        </div>
      </div>
      <div class="pet-random">
        
        <h5 class="pet-heading"><i class="fas fa-cat"></i>ペット募集中の動物たち<i class="fas fa-dog"></i></h5>
      
        <div class="pet-box">
        <% @random.each do |pet| %>
          <div class="pet-list">
            <%= link_to pet_path(pet.id) do %>
              <% pet.pet_images.first(1).each do |image| %>
                <%= attachment_image_tag image, :image, size: '200x200', class: "rounded mt-4" %>
              <% end %>
            <% end %>
          <p class="pet-name">お名前: <%= pet.name %></p>
          <p>お誕生日: <%= pet.birthday %></p>
          <p>年齢: <%= pet.age %></p>
          <p>性別: <%= pet.gender %></p>
          </div>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>