<div class="container">
  <div class="row mt-5">
    <div class="col-lg-12">
      <h2 class="heading">ダイレクトメッセージ</h2>
      <h2 style="text-align:center">
        <p>参加者</p>
        <% @entries.each do |e| %>
          <%= link_to e.user.full_name, user_path(e.user_id) %>
        <% end %>
      </h2>
      <div id="chats">
        <div id="messages" data-room_id="<%= @room.id %>">
          <% @messages.each do |message| %>
            <% if message.user_id == current_user.id%>
            <div class="mycomment">
              <%= render 'messages/message', message: message %>
            </div>
            <% else %>
            <div class="fukidasi">
              <div class="faceicon">
                <%= attachment_image_tag message.user, :profile_image, fallback: "no_image_icon.jpg" %>
              </div>
              <div class="chatting">
                <div class="says">
                  <%= render 'messages/message', message: message %>
                </div>
              </div>
            </div>
            <% end %>
          <% end %>
          <form>
            <input type="text" id="chat-input" data-behavior="room_speaker", class="form-control">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
