<!DOCTYPE html>
<html>
  <head>
    <title>Find ME</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
  </head>
  <body>
    <%= render "layouts/header" %>
    <div class="main">
      <%= yield %>
    </div>
    <span id="back">
      <a href="#">
        <%= image_tag "arrow.png" %>
      </a>
      </span>
    <%= render "layouts/footer" %>
  </body>
</html>
